[submodule "backend"]
	path = backend
	url = git@github.com:Playbits/Academio-be.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Playbits/Academio-fe.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:Playbits/academio-mobile.git
[submodule "ai-engine"]
	path = ai-engine
	url = git@github.com:Playbits/academio-ai-engine.git
[submodule "academio-emails"]
	path = academio-emails
	url = git@github.com:Playbits/academio-email-stuio.git
