[Unit]
Description=Academio API service
After=network.target postgresql.service redis-server.service gotenberg.service

[Service]
Type=simple
User=academio
Group=academio
Restart=always
RestartSec=5s
WorkingDirectory=/var/www/academio
EnvironmentFile=/var/www/academio/.env
ExecStart=/var/www/academio/server
StandardOutput=journal
StandardError=journal
SyslogIdentifier=academio

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/var/www/academio/uploads
ProtectHome=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
